*{
    margin: 0;
    padding: 0;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    min-height: 1350px;
}

header img{
    width:100%;
    height: 290px;
}
header main{
    background-color: darkgreen;
}
header main ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-weight: bold;
}
header main ul li{
    border-right: 1px solid black;
    padding-right: 4%;
}
header main ul li:last-child{
    border: none;
}
header main ul li a{
    text-decoration: none;
    color: white;
}
header main ul li a:hover{
    color: black;
    font-style: italic;
}
/*Cabecalho*/
.cabecalho{
    width: 100%;
    min-height: 310px;
    border: 1px black solid;
}
/*Destaque*/
.destaque{
    background-color: rgb(106, 106, 106);
    width: 65%;
    min-height: 360px;
    border: 1px black solid;
    float: left;
    margin-top: 15px;
}
.top-destaques{
    background-color: rgb(56, 52, 53);
    color: white;
    width: 100%;
    height: 60px;
}
.top-destaques h1{
    font-size: 40px;
    padding: 5px 25px;
}
.side-destaques{
    width: 60%;
    height: 380px;
    color: white;
    float: right;
}
.side-destaques h2{
    font-size: 30px;
    font-weight: bold;
    margin-top: 55px;
}
.side-destaques p{
    margin-top: 20px;
    letter-spacing: 0.01em;
}
.img-destaques{
    width: 40%;
    height: 380px;
    float: left;
}
.img-destaques img{
    width: 280px;
    height: auto;
    position: relative;
    left: 30px;
    top: 60px;
}
.destaque input[type="button"]{
    border: none;
    background-color: lightgrey;
    float: right;
    width: 100px;
    height: 25px;
    font-weight: bold;
    position: relative;
    bottom: 110px;
    right: 25px;
}
.destaque input[type="button"]:hover{
    border: 1px solid black;
}
/*Lado*/
.lado {
    width: 34%;
    min-height: 1039px;
    border: 1px black solid;
    float: right;
    margin-top: 15px;
}

/*Caixa1*/
.caixa1{
    width: 32%;
    min-height: 560px;
    border: 1px black solid;
    float: left;
    margin-top: 15px;
}
/*Caixa2*/
.caixa2{
    background-color: rgb(106, 106, 106);
    width: 32%;
    min-height: 550px;
    border: 1px black solid;
    float: right;
    margin-right: 13.5px;
    margin-top: 15px;
}
.top-caixa2{
    background-color: rgb(56, 52, 53);
    color: white;
}
/*Rodapé*/
.top-caixa2 h1{
    font-size: 30px;
    padding: 6px 25px;
}
.side-caixa2{
    color: white;
}
.side-caixa2 h2{
    margin: 15px;
    font-size: 25px;
    font-weight: bold;
}
.side-caixa2 p{
    width: 95%;
    margin-left: 15px;
    margin-top: 10px;
    letter-spacing: 0.01em;
}
.caixa2 input[type="button"]{
    border: none;
    background-color: lightgrey;
    float: right;
    width: 100px;
    height: 25px;
    font-weight: bold;
    position: relative;
    top: 10px;
    right: 25px;
}
.caixa2 input[type="button"]:hover{
    border: 1px solid black;
}
.titleBottom-caixa2{
    background-color: rgb(56, 52, 53);
    margin-top: 55px;
    margin-left: 40px;
    margin-right: 40px;
    max-width: 500px;
    color: white;
    display: flex;
    justify-content: center;
}
.titleBottom-caixa2 h1{
    font-size: 20px;
    font-weight: bold;
}
.bottom-caixa2 ul{
    margin-top: 15px;
}
.bottom-caixa2 li{
    list-style: none;
    color: white;
    position: relative;
    margin: 10px 60px;
}
.bottom-caixa2 ul li::before{
    content: '●';
    margin: 0 2px;
    display: inline-block;
    position: absolute;
    left: -1em;
    color: black
}
/*Rodapé*/
.rodape{
    width: 100%;
    height: 30px;
    border: 1px black solid;
    position: absolute;
    bottom: -770px;
    background-image: url("imagem/grama.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#Busca{
    width: 90%;
    margin-left: 5%;
    border: 2px solid black;
    border-radius: 15px;
    height: 27px;
    padding-left: 3%;
    margin-top: 5%;
    font-weight: bold;
    margin-bottom: 5%;
}
.rodape h4{
    font-size: 20px;
    margin-top: 4px;
}

.lado-2{
   background-color: blue; 
   margin-left: 20px;
   margin-right: 20px;
   margin-top: 15%;
}
.mais-lidos{
    margin-left: 20px;
}
.lidos{
    background-color: brown;
    margin-left: 20px;
    margin-right: 20px;
}

.links{
    margin-left: 15px;
    text-decoration: none;
}