* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

body {
    min-height: 1350px;
    background-image: url("imagem/capa.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

header main img {
    width: 75%;
    height: 350px;
    margin-left: 150px;
    opacity: 1;
}

header main ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-weight: bold;
    background-image: url("imagem/grama.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

header main ul li {
    border-right: 1px solid black;
    padding-right: 3.5%;
    height: 20px;
}

header main ul li:last-child {
    border: none;
}

header main ul li a {
    text-decoration: none;
    color: white;
}

header main ul li a:hover {
    color: black;
    font-style: italic;
}

/*Cabecalho*/
.cabecalho {
    width: 100%;
    min-height: 310px;
    border: 1px black solid;
}

/*Destaque*/
.destaque {
    width: 65%;
    min-height: 360px;
    border: 1px black solid;
    float: left;
    margin-top: 15px;
}

.top-destaques {
    background-image: url(imagem/grama.png);
    color: white;
    width: 100%;
    height: 60px;
}

.top-destaques h1 {
    font-size: 40px;
    padding: 5px 25px;
}

.side-destaques {
    width: 50%;
    height: 380px;
    float: right;
    color: white;
}

.side-destaques h2 {
    font-size: 30px;
    font-weight: bold;
    margin-top: 55px;
}

.side-destaques p {
    margin-top: 20px;
    letter-spacing: 0.01em;
}

.img-destaques {
    width: 50%;
    height: 380px;
    float: left;
}

.img-destaques img {
    width: 380px;
    height: auto;
    position: relative;
    left: 30px;
    top: 60px;
}

.destaque input[type="button"] {
    border: none;
    background-color: lightgrey;
    float: right;
    width: 100px;
    height: 25px;
    font-weight: bold;
    position: relative;
    bottom: 40px;
    right: 25px;
}

.destaque input[type="button"]:hover {
    border: 1px solid black;
}

/*Lado*/
.lado {
    width: 34%;
    min-height: 1039px;
    border: 1px black solid;
    float: right;
    margin-top: 15px;
}

/*Caixa1*/
.caixa1 {
    width: 32%;
    min-height: 560px;
    border: 1px black solid;
    float: left;
    margin-top: 15px;
}

.caixa1 {
    width: 32%;
    min-height: 560px;
    border: 1px black solid;
    float: left;
    margin-top: 15px;
}

.titulo1 {
    height: 50px;
    width: 100%;
    padding-top: 20px;
    background-image: url("imagem/grama.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.titulo1 h1 {
    font-size: 26px;
    margin-left: 16px;
}

.aemdestaque {
    height: 200px;
    width: 90%;
    position: relative;
    left: 20px;
    top: 25px;
}

.aemdestaque h3 b {
    font-size: 23px;
}

.aemdestaque p {
    font-size: 20px;
    margin-top: 17px;
}

.aemdestaque button {
    width: 70px;
    height: 17px;
    margin-top: 6px;
    background-image: url("imagem/grama2.png");
    background-position: center;
    background-repeat: repeat;
    border: none;
    float: right;
}

.maisartigos {
    width: 90%;
    height: 270px;
    position: relative;
    left: 20px;
    top: 60px;
}

.maisartigos ul li {
    font-size: 20px;
    position: relative;
    top: 10px;
    left: 40px;
    margin-top: 10px;
}

.titulo2 {
    text-align: center;
    background-image: url("imagem/grama.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.titulo2 h3 {
    margin-left: 90px;
}

/*Caixa2*/
.caixa2 {
    width: 32%;
    min-height: 550px;
    border: 1px black solid;
    float: right;
    margin-right: 13.5px;
    margin-top: 15px;
}

.top-caixa2 {
    background-image: url("imagem/grama.png");
    height: 66px;
}

.top-caixa2 h2 {
    background-image: url(imagem/grama.png);
    color: white;
}

.top-caixa2 h1 {
    font-size: 30px;
    padding: 18px 25px;
}

.side-caixa2 {
    color: white;
    margin-top: 25px;
}

.side-caixa2 h2 {
    margin: 15px;
    font-size: 25px;
    font-weight: bold;
}

.side-caixa2 p {
    width: 95%;
    margin-left: 15px;
    margin-top: 10px;
    letter-spacing: 0.01em;
    font-size: 20px;
}

.caixa2 input[type="button"] {
    border: none;
    background-color: lightgrey;
    float: right;
    width: 100px;
    height: 25px;
    font-weight: bold;
    position: relative;
    top: 30px;
    right: 25px;
}

.caixa2 input[type="button"]:hover {
    border: 1px solid black;
}

.titleBottom-caixa2 {
    margin-top: 80px;
    background-image: url(imagem/grama.png);
    margin-top: 55px;
    margin-left: 40px;
    margin-right: 40px;
    max-width: 500px;
    display: flex;
    justify-content: center;
    background-image: url("imagem/grama.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.titleBottom-caixa2 h1 {
    font-size: 20px;
    font-weight: bold;
}

.bottom-caixa2 ul {
    margin-top: 15px;
}

.bottom-caixa2 li {
    list-style: none;
    color: white;
    position: relative;
    margin: 10px 60px;
    font-size: 20px;
    list-style-type: disc;
}

/*Rodapé*/
.rodape {
    width: 100%;
    height: 30px;
    border: 1px black solid;
    position: absolute;
    bottom: -829px;
    background-image: url("imagem/grama.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#Busca {
    width: 90%;
    margin-left: 5%;
    border: 2px solid black;
    border-radius: 15px;
    height: 27px;
    padding-left: 3%;
    margin-top: 5%;
    font-weight: bold;
    margin-bottom: 5%;
}

.rodape h4 {
    font-size: 20px;
    margin-top: 4px;
}

.lado-2 {
    background-color: blue;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 15%;
}

.mais-lidos {
    margin-left: 20px;
}

.lidos {
    background-color: brown;
    margin-left: 20px;
    margin-right: 20px;
}

.lidos ul li {
    list-style: none;
}

.links {
    margin-left: 15px;
    text-decoration: none;
}